[AppDaemon]
ha_url = http://iot:8123
# ha_key =  
#logfile = STDOUT
logfile = /home/homeassistant/appdaemon/appdaemon.log
#errorfile = STDERR
errorfile = /home/homeassistant/appdaemon/appdaemon.err
app_dir = /home/homeassistant/appdaemon/conf/apps
threads = 10
elevation = 382 

# Apps


#[brightness_adjust]
# does not work
#module = brightness_adjust
#class = BrightnessAdjust
#light = light.kitchen_counter
#luxmeter = sensor.kitchen_luxmeter
#desired = input_slider.kitchen_brightness

[bed_time]
module = hysteresis
class = Hysteresis
sensor = sensor.kitchen_luxmeter
switch = input_boolean.bed_time
high = 10
low = 0.1
hightime = 60
lowtime = 300
highsvc = input_boolean/turn_off
lowsvc = input_boolean/turn_on

[light_mode_controler]
module = select_controller
class = SelectController
selector = input_select.lighting_mode
options = Warm Cold Night Relax
Warm_entity = input_boolean.electricity_is_cheap
Warm_state = on
Cold_entity = input_boolean.electricity_is_cheap 
Cold_state = off
Night_entity = input_boolean.bed_time
Night_state = on
Relax_entity = input_boolean.bed_time
Relax_state = off

[smoothligh_test]
module = smooth_light
class = SmoothLight
light = light.kitchen_moodlight

# Args:
#  selector: input_select that will be controlled
#  options: list of options to support
#
# for each option we then require following args:
#
#  <option>_entity: entity to monitor for status changes
#  <option>_state:  state that will turn on the mode

[motion_kitchen_counter]
module = moodymotion
class = MoodyMotionTrigger
light = light.kitchen_counter
mode_selector = input_select.lighting_mode
motion_detector = binary_sensor.kitchen_pir
luminosity_sensor = sensor.kitchen_luxmeter
modes = Warm Cold Night
Warm_luminosity = 15
Warm_off_timeout = 120
Warm_color = [255, 122, 10]
Cold_luminosity = 15
Cold_off_timeout = 120
Cold_color = [10, 20, 30]
Night_luminosity = 15
Night_off_timeout = 20
Night_color = [10, 0, 0]

[motion_kitchen_moodlight]
module = moodymotion
class = MoodyMotionTrigger
light = light.kitchen_moodlight
mode_selector = input_select.lighting_mode
motion_detector = binary_sensor.kitchen_pir
luminosity_sensor = sensor.kitchen_luxmeter
modes = Night
Night_luminosity = 15
Night_off_timeout = 120
Night_color = [255, 255, 129]

[motion_livingroom_moodlight]
module = moodymotion
class = MoodyMotionTrigger
light = light.livingroom_moodlight
mode_selector = input_select.lighting_mode
motion_detector = binary_sensor.kitchen_pir
luminosity_sensor = sensor.kitchen_luxmeter
modes = Night
Night_luminosity = 15
Night_off_timeout = 120 
Night_color = [5, 0, 0]




